﻿
@{
    ViewBag.Title = "Misviajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">MIS VIAJES   </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-warehouse-alt"></i>

        LISTADO DE CUENTAS CONTABLES
    </div>

    <div class="card-body">

       
                    <div class="modal-body ">
                        <input id="txtdaots" type="hidden" value="@Session["cliente"]" />
                        <input id="txtid" type="hidden" value="0" />

                        <div class="row sm-3">
                            <div class="col-sm-3">
                                <div class="sm-2">

                                    <label for="exampleFormControlInput1" class="form-label">EMPLEADO</label>
                                    <input type="text" class="form-control" id="txtidempleado" readonly/>

                                    <label for="exampleFormControlInput1" class="form-label">NOMBRE EMPLEADO</label>
                                    <input type="text" class="form-control" id="txtnom" readonly />



                                </div>


                                <div class="sm-2">
                                    <label for="exampleFormControlInput1" class="form-label">REF VIAJE</label>
                                    <input type="text" class="form-control" id="txtviajes" readonly>
                                </div>
                                <div class="sm-2">
                                    <label for="exampleFormControlInput1" class="form-label">FECHA DESDE</label>
                                    <input type="date" class="form-control" id="txtfechadesde"readonly>
                                </div>






                            </div>

                            <div class="col-sm-3">


                                <div class="sm-3">
                                    <label for="exampleFormControlInput1" class="form-label">FECHA HASTA </label>
                                    <input type="date" class="form-control" id="txtfechahasta" readonly/>
                                </div>
                                <div class="sm-3">
                                    <label for="exampleFormControlInput1" class="form-label">FECHA CAPTURA</label>
                                    <input type="date" class="form-control" id="txtfechacaptura" readonly>

                                </div>
                                <div class="sm-3">
                                    <label for="exampleFormControlInput1" class="form-label">CENTRO COSTO</label>
                                    <input type="text" class="form-control" id="txtcencosto"readonly>

                                </div>
                                <div class="sm-3">
                                    <label for="exampleFormControlInput1" class="form-label">PROYECTO</label>
                                    <input type="text" class="form-control" id="txtproyecto" readonly>

                                </div>

                            </div>
                            <div class="col-sm-4">


                                <div class="sm-4">
                                    <label for="exampleFormControlInput1" class="form-label">UNIDAD ADMINISTRATIVA</label>
                                    <input type="text" class="form-control" id="txtuniadmin" readonly>

                                </div>

                                <div class="sm-4">
                                    <label for="exampleFormControlInput1" class="form-label">ORIGEN</label>
                                    <input type="text" class="form-control" id="txtorigen" readonly>
                                </div>
                                <div class="sm-4">
                                    <label for="exampleFormControlInput1" class="form-label">DESTINO</label>
                                    <input type="text" class="form-control" id="txtdestino" readonly>
                                </div>

                                <div class="sm-4">
                                    <label for="exampleFormControlInput1" class="form-label">COMENTARIOS</label>
                                    <textarea class="form-check" id="txtcomentarios" readonly></textarea>

                                </div>
                                <div class="sm-4">
                                    <label for="exampleFormControlInput1" class="form-label">ESTATUS</label>
                                    <input class="form-control" id="txtestatus"  readonly/>

                                </div>



                            </div>
                          
                        </div>
                    </div>
              




        <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>CONCEPTO</th>
                    <th>DESCRIPCION</th>
                    <th>EMPLEADO</th>
                    <th>IMPORTE</th>

                    <th>Acciones</th>



                </tr>

            </thead>
            <tbody>
            </tbody>

        </table>


        <div class="modal-body ">

            <div class="row g-2">
                <input id="txtidm" type="hidden" value="@Session["idcuen"]" />
                <div class="col-sm-6">

                    <label for="exampleFormControlInput1" class="form-label">Total</label>
                    <input type="text" class="form-control" id="txttotal">


                </div>


            </div>


        </div>






    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="Frommodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">EDITAR CONCEPTOS </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">


                <input id="txtid" type="hidden" value="0" />
                <div class="row g-3">

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">CONCEPTO</label>
                        <select class="form-select" id="cbconcepto"></select>
                    </div>
                    <div class="col-sm-6">

                        <input type="hidden" class="form-control" id="txtdescripcion" placeholder="NOMBRE">
                    </div>




                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">IMPORTE</label>
                        <input type="text" class="form-control" id="txtimporte" placeholder="NOMBRE">
                    </div>
                    <div class="col-sm-6">

                        <input type="hidden" class="form-control" id="txtempleado" placeholder="NOMBRE">
                    </div>


                </div>

                <div class=" mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">GUARDAR</button>
            </div>
        </div>
    </div>
</div>




@section scripts {





    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>

    
    <script>





        var tabladatos;
        var tabla;
        var fila;
        var idcuentas = $("#txtidm").val();
        console.log(idcuentas);



         jQuery.ajax({
              url: '@Url.Action("listacontables", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {


                 $.each(data.data, function (index, valor) {

                     console.log(valor);
                     $("#txttotal").val(valor);
                 })

                //




                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });

           jQuery.ajax({
              url: '@Url.Action("listarviatico", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {
                 console.log(data);

                 $.each(data.data, function (index, valor) {



                     $("#txtidempleado").val(valor.nombreusuario.id);
                     $("#txtnom").val(valor.nombreusuario.nombre);
                     $("#txtviajes").val(valor.nombreviatico);
                     $("#txtfechadesde").val(valor.fechasalida);
                     $("#txtfechahasta").val(valor.fecharegreso);
                     $("#txtfechacaptura").val(valor.fechacaptura);
                     $("#txtproyecto").val(valor.nombreproyecto.nombre);
                     $("#txtuniadmin").val(valor.nombreuniadmin.nombre);
                     $("#txtcencosto").val(valor.centrocosto.nombre);
                   //  $("#txtfechacaptura").val(valor.nombreviatico);
                     $("#txtorigen").val(valor.origen);
                     $("#txtdestino").val(valor.destino);
                     $("#txtcomentarios").val(valor.comentarios);
                     $("#txtestatus").val(valor.estatus);

                     //
                 })



                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });








        tabladatos = $('#tabla').DataTable({
            responsive: true,
            ordering: false,

            "ajax": {
                url: '@Url.Action("listacontaemple", "Home")',
                type: "GET",

                dataType: "json",



            }
            ,




            "columns": [

                { "data": "id" },
                { "data": "clavecontable.nombre" },
                { "data": "clavecontable.descripcion" },
                { "data": "claveusuario.nombre" },
                { "data": "monto" },


                {
                    "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar">  <i class="fas fa-trash">  </i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            },





        });


        var tot = tabladatos.column(4).data().sum();
        $("#txttotal").text(tot);
        console.log(tot);








         jQuery.ajax({
              url: '@Url.Action("listacuentascontables", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

              success: function (data) {
                  console.log(data);
                  $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbconcepto")
                  $.each(data.data, function (index, valor) {

                      $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbconcepto")
                  })




                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });




        function abrirModal(Json) {
            $("#txtid").val(0);
            $("#cbconcepto").val($("#cbconcepto option:first").val());
            $("#txtdescripcion").val("");
            $("#txtempleado").val("");
            $("#txtmonto").val("");

            $("#mensajeError").hide();

            if (Json != null) {
                $("#txtid").val(Json.id);
                $("#cbconcepto").val(Json.clavecontable.id);
                $("#txtdescripcion").val(Json.clavecontable.descripcion);
                $("#txtviajes").val(Json.claveusuario.nombre);



                $("#txtimporte").val(Json.monto);






            }
            $("#Frommodal").modal("show");

        }

        $("#tabla tbody").on("click", ".btn-editar", function ()
        {
            fila= $(this).closest("tr");
            var datos=(tabladatos.row(fila).data());
            abrirModal(datos);
            console.log(datos);
        })

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var centroseleccionado = $(this).closest("tr");
            var datos = (tabladatos.row(centroseleccionado).data());
            console.log(datos);

            swal({
                title: "Se encuentra Seguro",
                text: "¿Desea eliminar la cuenta contable?",
                type: "warning",
                showCancelButton: true,
                confirButtonClass: "btn-primary",
                confirButtonText: "si",
                cancelButtonText: "No",
                closeOnConfirm: true


            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("eliminarcoempleado", "Home")',
                        type: "POST",
                        data: JSON.stringify({ id: datos.id }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {
                                tabladatos.row(centroseleccionado).remove().draw();
                                location.href = "Misviajes";
                            } else {
                                swal("No se pudo eliminar!")
                            }


                        },
                        error: function (error) {
                            console.log(error)

                        }

                    });

                });

        })


        function guardar(){




            var cencosto = {
                id: $("#txtid").val(),
                monto: $("#txtimporte").val(),

                clavecontable: {
                    id: $("#cbconcepto option:selected").val(),
                    nombre: $("#cbconcepto option:selected").text(),
                   descripcion: $("#txtdescripcion").val(),
                },
                claveusuario: {
                   nombre :$("#txtempleado").val()
                }







            }






            jQuery.ajax({
                url: '@Url.Action("editacontable", "Home")',
                type: "POST",
                data: JSON.stringify({ objeto: cencosto }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    location.href = "Misviajes";



                    if (data.resultado) {
                        tabladatos.row(fila).data(cencosto);
                            fila = null;

                            $("#Frommodal").modal("hide");


                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();

                        }




                }  ,
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("errror");
                     $("#mensajeError").show();
                },
                beforeSend: function () {

                  



                }


            });






        }



    </script>

}
