﻿
@{
    ViewBag.Title = "SolictarViaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">ADMIN</a></li>
    <li class="breadcrumb-item active">SOLICITAR VIAJE  </li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-money-bill-wave-alt"></i>

        LISTADO SOLICITUD DE VIAJE
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">SOLICITAR</button>



            </div>
        </div>



        <hr />
        <div class="modal-body ">
            <div class="row sm-3">
                <div class="col-sm-3">


                    <div class="sm-2">

                        <label for="exampleFormControlInput1" class="form-label">CAPTURA DESDE </label>

                        <input type="text" class="form-control" id="txtfecha1">
                        <label for="exampleFormControlInput1" class="form-label">CAPTURA HASTA</label>
                        <input type="text" class="form-control" id="txtfecha2">


                    </div>

                    <div class="col-sm-3">
                        <button type="button" class="btn btn-success" onclick="mandarfechas(null)">CONSULTA</button>
                    </div>



                    </div>
                </div>
                </div>
               
              


                <table id="tabla" class="table-danger display responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>REF VIAJE</th>
                            <th>NOMBRE</th>
                            <th>PROYECTO</th>
                            <th>FECHA SALIDA</th>
                            <th>FECHA REGRESO</th>
                            <th>importe ($)</th>
                            <th>Estatus</th>

                            <th>Acciones</th>

                        </tr>

                    </thead>


                </table>

            </div>
        </div>





<!-- Modal -->
<div class="modal fade" id="Frommodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR VIAJES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <input id="txtdaots" type="hidden" value="@Session["cliente"]" />
                <input id="txtid" type="hidden" value="0" />
              
                <div class="row sm-3">
                    <div class="col-sm-3">
                        <div class="sm-2">
                            @if (Convert.ToString(Session["cliente"]) == "admin")
                            {


                                <label for="exampleFormControlInput1" class="form-label">EMPLEADO </label>
                                <select class="form-select" id="cbempleado"></select>

                            }
                            else
                            {
                                
                                <input type="hidden" class="form-control" id="cbempleado" value="@Session["idusuario"]" />


                                <input type="hidden" class="form-control" id="txtnom" value="@Session["nombre"]" />

                            }

                        </div>
                        

                            <div class="sm-2">
                                <label for="exampleFormControlInput1" class="form-label">REF VIAJE</label>
                                <input type="text" class="form-control" id="txtviajes" placeholder="VIAJE" >
                            </div>

                            



                            <div class="sm-2">
                                <label for="exampleFormControlInput1" class="form-label">FECHA DESDE</label>
                                <input type="date" class="form-control" id="txtfechadesde" placeholder="DESCRIPCION">
                            </div>

                            <div class="sm-2">
                                <label for="exampleFormControlInput1" class="form-label">FECHA HASTA </label>
                                <input type="date" class="form-control" id="txtfechahasta" placeholder="FECHA HASTA">
                            </div>
                        </div>

                    <div class="col-sm-3">
                        <div class="sm-3">
                            <label for="exampleFormControlInput1" class="form-label">FECHA CAPTURA</label>
                            <input type="date" class="form-control" id="txtfechacaptura" readonly/>

                        </div>
                        <div class="sm-3">
                            <label for="exampleFormControlInput1" class="form-label">PROYECTO</label>
                            <select class="form-select" id="cbproyecto"></select>

                        </div>
                        <div class="sm-3">
                            <label for="exampleFormControlInput1" class="form-label">UNIDAD ADMINISTRATIVA</label>
                            <select class="form-select" id="cbunidad" unidad" placeholder="unidad"></select>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sm-4">
                            <label for="exampleFormControlInput1" class="form-label">CENTRO COSTO</label>
                            <select class="form-select" id="cbcentrocosto" placeholder="centro costo"></select>

                        </div>

                        <div class="sm-4">
                            <label for="exampleFormControlInput1" class="form-label">ORIGEN</label>
                            <input type="text" class="form-control" id="txtorigen">
                        </div>
                        <div class="sm-4">
                            <label for="exampleFormControlInput1" class="form-label">DESTINO</label>
                            <input type="text" class="form-control" id="txtdestino">
                        </div>

                        <div class="sm-4">
                            <label for="exampleFormControlInput1" class="form-label">COMENTARIOS</label>
                            <textarea class="form-check" id="txtcomentarios" placeholder="centro costo"></textarea>

                        </div>


                        <div class=" mt-2">
                            <div class="col-12">
                                <div id="mensajeError" class="alert alert-info" role="alert">
                                    A simple info alert—check it out!
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>



                        <button type="button" class="btn btn-primary" onclick="guardar()">GUARDAR</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Fromcontable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="Static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR TIPO DE GASTOS  </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <input id="txtemple" type="hidden" value="0" />
                <div class="row g-3">
                    <div class="col-sm-6">

                        <label for="exampleFormControlInput1" class="form-label">EMPLEADO </label>
                        <input type="text" class="form-control" id="cbusuario" />
                        <input id="txtidusuario" type="hidden"  />
                    </div>

                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="form-label">CUENTA CONTABLE </label>
                        <select class="form-select" id="cbcontable"></select>
                    </div>
                  
                    <div class="col-sm-6">  
                        <label for="exampleFormControlInput1" class="form-label">MONTO </label>
                        <input type="text" class="form-control" id="txtmonto" placeholder="PRECIO">
                    </div>


                </div>

                <div class=" mt-2">
                    <div class="col-12">
                        <div id="mensajeError2" class="alert alert-info" role="alert">
                            A simple info alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                <button type="button" class="btn btn-primary" onclick="guardarcontable()">GUARDAR</button>
            </div>
        </div>
    </div>
</div>



@section scripts {


    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>
    <script>
        var tabladatos;
        var fila





        if ($("#txtdaots").val()=="admin") {
              tabladatos = $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("listarviaje", "Home")',
                    type: "GET",
                    dataType: "json"

                },
                  "columns": [
                    { "data": "nombreviatico" },
                    { "data": "nombreusuario.nombre" },
                    { "data": "nombreproyecto.nombre" },
                    { "data": "fechasalida" },
                    { "data": "fechacaptura" },
                    { "data": "importe" },


                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +

                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-agregar">  <i class="fas fa-wallet"></i></button>' +
                            '<button type="button" class="btn btn-success btn-sm ms-2 btn-consultar">  <i class="fas fa-trash">  </i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-agregar">  <i class="fas fa-wallet"></i>  </i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }


            });






            jQuery.ajax({
                url: '@Url.Action("listarviaje", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbusuario")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.nombreusuario.id }).text(valor.nombreusuario.nombre).appendTo("#cbusuario")
                    })

                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbproye")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.idsolicitud }).text(valor.nombreproyecto.nombre).appendTo("#cbproye")
                    })


                },
                error: function (error) {
                    console.log(error)
                }
            });





            jQuery.ajax({
                url: '@Url.Action("listacuentascontables", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbcontable")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbcontable")
                    })




                },
                error: function (error) {
                    console.log(error)
                }
            });

            debugger;
            jQuery.ajax({
                url: '@Url.Action("listausuario", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbempleado")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbempleado")
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            });

            jQuery.ajax({
                url: '@Url.Action("listacentrogasto", "Home")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbcentrocosto")
                    $.each(data.data, function (index, valor) {
                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbcentrocosto")
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            });
            jQuery.ajax({
                url: '@Url.Action("listaproyecto", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbproyecto")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbproyecto")
                    })





                },
                error: function (error) {
                    console.log(error)

                }

            });
            jQuery.ajax({
                url: '@Url.Action("listauniadmin", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbunidad")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbunidad")
                    })





                },
                error: function (error) {
                    console.log(error)

                }

            });



            function abrirModal(Json) {
                debugger;
                $("#txtid").val(0);
                $("#cbempleado").val($("#cbempleado option:first").val());
                $("#txtviajes").val("");
                $("#cbproyecto").val($("#cbproyecto option:first").val());
                $("#txtfechadesde").val("");
                $("#txtfechacaptura").val("");
                $("#txtfechahasta").val("");
                $("#cbunidad").val($("#cbunidad option:first").val());
                $("#cbcentrocosto").val($("#cbcentrocosto option:first").val());
                $("#txtcomentarios").val("");
                $("#txtorigen").val("");
                $("#txtdestino").val("");

                $("#mensajeError").hide();


                if (Json != null) {
                    $("#txtid").val(Json.idsolicitud);
                    $("#cbempleado").val(Json.nombreusuario.id);
                    $("#txtviajes").val(Json.nombreviatico);
                    $("#cbproyecto").val(Json.nombreproyecto.id);
                    $("#txtfechadesde").val(Json.fechasalida);
                    $("#txtfechacaptura").val(Json.fechacaptura);
                    $("#txtfechahasta").val(Json.fecharegreso);
                    $("#cbunidad").val(Json.nombreuniadmin.id);
                    $("#cbcentrocosto").val(Json.centrocosto.id);
                    $("#txtcomentarios").val(Json.comentarios);
                    $("#txtorigen").val(Json.origen);
                    $("#txtdestino").val(Json.destino);




                }
                $("#Frommodal").modal("show");

            }


            $("#tabla tbody").on("click", ".btn-editar", function () {
                fila = $(this).closest("tr");
                var datos = (tabladatos.row(fila).data());
                abrirModal(datos);
                console.log(datos);
            })

            $("#tabla tbody").on("click", ".btn-agregar", function () {
                fila = $(this).closest("tr");
                var datos = (tabladatos.row(fila).data());


                abrirModales(datos);
                console.log(datos);
            })
            $("#tabla tbody").on("click", ".btn-consultar", function () {
                fila = $(this).closest("tr");

                var datos = (tabladatos.row(fila).data());
                console.log(datos.idsolicitud);


                jQuery.ajax({
                    url: '@Url.Action("Misvia", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.idsolicitud }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                        location.href="Misviajes";



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });

            });













            $("#tabla tbody").on("click", ".btn-eliminar", function () {
                var centroseleccionado = $(this).closest("tr");
                var datos = (tabladatos.row(centroseleccionado).data());
                console.log(datos);

                swal({
                    title: "Se encuentra Seguro",
                    text: "¿Desea eliminar el centro de costo?",
                    type: "warning",
                    showCancelButton: true,
                    confirButtonClass: "btn-primary",
                    confirButtonText: "si",
                    cancelButtonText: "No",
                    closeOnConfirm: true


                },
                    function () {
                        jQuery.ajax({
                            url: '@Url.Action("eliminargasto", "Catalogo")',
                            type: "POST",
                            data: JSON.stringify({ id: datos.id }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                                if (data.resultado) {
                                    tabladatos.row(centroseleccionado).remove().draw();
                                    swal("el centro de costo ha sido eliminado!")
                                } else {
                                    swal("No se pudo eliminar!")
                                }


                            },
                            error: function (error) {
                                console.log(error)

                            }

                        });

                    });

            })

            function abrirModales(Json) {
                $("#txtemple").val(0);
                $("#cbusuario").val($("#cbusuario option:first").val());


                $("#txtmonto").val("");


                $("#mensajeError2").hide();


                if (Json != null) {
                    $("#txtemple").val(Json.idsolicitud);
                    $("#txtidusuario").val(Json.nombreusuario.id);
                    $("#cbusuario").val(Json.nombreusuario.nombre);





                }
                $("#Fromcontable").modal("show");

            }

            function guardar() {
                var solicitarviaje = {
                    id: $("#txtid").val(),
                    nombreusuario: {
                        id: $("#cbempleado option:selected").val(),
                        nombre: $("#cbempleado option:selected").text()

                    },
                    nombreviatico:$("#txtviajes").val(),
                    nombreproyecto: {
                        id: $("#cbproyecto option:selected").val(),
                        nombre: $("#cbproyecto option:selected").text()
                    },
                    fechasalida: $("#txtfechadesde").val(),
                    fechacaptura: $("#txtfechacaptura").val(),
                    fecharegreso: $("#txtfechahasta").val(),
                    nombreuniadmin: {

                        id: $("#cbunidad option:selected").val(),
                        nombre: $("#cbunidad option:selected").text()
                    },
                    centrocosto: {
                        id: $("#cbcentrocosto").val(),
                        nombre: $("#cbcentrocosto option:selected").text()
                    },
                    comentarios: $("#txtcomentarios").val(),
                    origen: $("#txtorigen").val(),
                    destino: $("#txtdestino").val(),
                    estatus: "nuevo",
                    importe: 0,




                }
                console.log(solicitarviaje);

                jQuery.ajax({
                    url: '@Url.Action("guardarviajes", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: solicitarviaje }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");

                        debugger;
                        //usuario nuevo jejeje
                        if (solicitarviaje.id == 0) {
                            if (data.resultado != 0) {
                                solicitarviaje.id = data.resultado;
                                tabladatos.row.add(solicitarviaje).draw(false);
                                $("#Frommodal").modal("hide");

                            } else {
                                $("#mensajeError").text(data.Mensaje);

                                $("#mensajeError").show();
                            }
                            //usuario editar jejeje
                        } else {
                            if (data.resultado) {
                                tabladatos.row(fila).data(solicitarviaje);
                                fila = null;
                                $("#Frommodal").modal("hide");

                            } else {
                                $("#mensajeError").text(data.Mensaje);

                                $("#mensajeError").show();

                            }


                        }

                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("errror");
                        $("#mensajeError").show();
                    },
                    beforeSend: function () {

                        $(".modal-body").LoadingOverlay("show",
                            {
                                imageResiseFactor: 2,
                                text: "cargando",
                                size: 14
                            })



                    }


                });



            }

            function guardarcontable() {
                var contableusuario = {

                    monto: $("#txtmonto").val(),
                    clavecontable: {
                        id: $("#cbcontable option:selected").val(),
                        nombre: $("#cbcontable option:selected").text()

                    },

                    claveusuario: {
                        id: $("#txtidusuario").val()

                    },
                    clavesolicitud: {
                        idsolicitud: $("#txtemple").val(),

                    },





                }
                console.log(contableusuario);

                jQuery.ajax({
                    url: '@Url.Action("guardarcontableempleado", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: contableusuario }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");

                        debugger;
                        //usuario nuevo jejeje

                        if (data.resultado != 0) {
                            contableusuario.id = data.resultado;

                            $("#Frommodal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();
                        }



                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError2").text("errror");
                        $("#mensajeError2").show();
                    },
                    beforeSend: function () {

                        $(".modal-body").LoadingOverlay("show",
                            {
                                imageResiseFactor: 2,
                                text: "cargando",
                                size: 14
                            })



                    }


                });

                var da = {
                    idsolicitud :$("#txtemple").val()
                }

                jQuery.ajax({
                    url: '@Url.Action("Misvia", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: da.idsolicitud }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                        //location.href="Misviajes";



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });


                 jQuery.ajax({
              url: '@Url.Action("listacontables", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {

                 $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbconcepto")
                 $.each(data.data, function (index, valor) {
                     var dato = {
                         idsolicitud: $("#txtemple").val(),
                         importe: valor
                     }
                     console.log(valor);


                      jQuery.ajax({
                    url: '@Url.Action("editandoimporte", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: dato }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        location.href = "SolictarViaje";


                    },
                    error: function (error) {

                        $("#mensajeError").text("errror");
                        $("#mensajeError").show();
                    },


                });

                 })

                //




                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });








            }


        } else {

            window.onload = function () {
                var fecha = new Date(); //Fecha actual
                var mes = fecha.getMonth() + 1; //obteniendo mes
                var dia = fecha.getDate(); //obteniendo dia
                var ano = fecha.getFullYear(); //obteniendo año
                if (dia < 10)
                    dia = '0' + dia; //agrega cero si el menor de 10
                if (mes < 10)
                    mes = '0' + mes //agrega cero si el menor de 10
                document.getElementById('txtfechacaptura').value = ano + "-" + mes + "-" + dia;
            }

            tabladatos = $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("listarviajeus", "Home")',
                    type: "GET",
                    dataType: "json"

                },
                "columns": [
                    { "data": "nombreviatico" },
                    { "data": "nombreusuario.nombre" },
                    { "data": "nombreproyecto.nombre" },
                    { "data": "fechasalida" },
                    { "data": "fechacaptura" },
                    { "data": "importe" },
                    { "data": "estatus" },



                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +

                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-agregar">  <i class="fas fa-wallet"></i>  </i></button>' +
                            '<button type="button" class="btn btn-success btn-sm ms-2 btn-consultar"> <i class="fas fa-money-check-alt"></i></button>'+
                         '<button type="button" class="btn btn-success btn-sm ms-2 btn-eliminar">  <i class="fas fa-trash">  </i></button>' ,


                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }


            });

              jQuery.ajax({
                url: '@Url.Action("listacuentascontables", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbcontable")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbcontable")
                    })




                },
                error: function (error) {
                    console.log(error)
                }
            });

            debugger;
            jQuery.ajax({
                url: '@Url.Action("listausuario", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbempleado")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbempleado")
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            });

              debugger;
            jQuery.ajax({
                url: '@Url.Action("listausuario", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbempleado")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbempleado")
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            });

            jQuery.ajax({
                url: '@Url.Action("listacentrogasto", "Home")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbcentrocosto")
                    $.each(data.data, function (index, valor) {
                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbcentrocosto")
                    })
                },
                error: function (error) {
                    console.log(error)
                }
            });
              jQuery.ajax({
                url: '@Url.Action("listarviaje", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbusuario")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.nombreusuario.id }).text(valor.nombreusuario.nombre).appendTo("#cbusuario")
                    })

                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbproye")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.idsolicitud }).text(valor.nombreproyecto.nombre).appendTo("#cbproye")
                    })


                },
                error: function (error) {
                    console.log(error)
                }
            });
            jQuery.ajax({
                url: '@Url.Action("listaproyecto", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbproyecto")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbproyecto")
                    })





                },
                error: function (error) {
                    console.log(error)

                }

            });
            jQuery.ajax({
                url: '@Url.Action("listauniadmin", "Home")',

                type: "GET",

                data: null,

                dataType: "json",

                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    console.log(data);
                    $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbunidad")
                    $.each(data.data, function (index, valor) {

                        $("<option>").attr({ "value": valor.id }).text(valor.nombre).appendTo("#cbunidad")
                    })





                },
                error: function (error) {
                    console.log(error)

                }

            });


            function mandarfechas() {

               var fech= $("#txtfecha1").val();
              var fech2=  $("#txtfecha2").val();


                jQuery.ajax({
                    url: '@Url.Action("misfechas", "Home")',
                    type: "POST",
                    data: JSON.stringify({ fecha1: fech, fecha2:fech2 }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);


//location.href="Misviajes";



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });
                $('#tabla').DataTable().clear().destroy();


                tabladatos = $('#tabla').DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("listandofiltro", "Home")',
                    type: "GET",
                    dataType: "json"

                },
                "columns": [
                    { "data": "nombreviatico" },
                    { "data": "nombreusuario.nombre" },
                    { "data": "nombreproyecto.nombre" },
                    { "data": "fechasalida" },
                    { "data": "fechacaptura" },
                    { "data": "importe" },
                    { "data": "estatus" },



                    {
                        "defaultContent": '<button type="button" class="btn btn-warning btn-sm btn-editar">  <i class="fas fa-pen">  </i></button>' +

                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-agregar">  <i class="fas fa-wallet"></i>  </i></button>' +
                            '<button type="button" class="btn btn-success btn-sm ms-2 btn-consultar"> <i class="fas fa-money-check-alt"></i></button>' ,


                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                }


            });


            }

            function abrirModal(Json) {

                $("#txtid").val(0);

                $("#cbproyecto").val($("#cbproyecto option:first").val());
                $("#txtviajes").val("");
                $("#txtfechadesde").val("");

                $("#txtfechahasta").val("");
                $("#cbunidad").val($("#cbunidad option:first").val());
                $("#cbcentrocosto").val($("#cbcentrocosto option:first").val());
                $("#txtcomentarios").val("");
                $("#txtorigen").val("");
                $("#txtdestino").val("");

                $("#mensajeError").hide();


                if (Json != null) {
                    $("#txtid").val(Json.idsolicitud);
                    $("#cbempleado").val(Json.nombreusuario.id);
                    $("#txtviajes").val(Json.nombreviatico);
                    $("#cbproyecto").val(Json.nombreproyecto.id);
                    $("#txtfechadesde").val(Json.fechasalida);
                    $("#txtfechacaptura").val(Json.fechacaptura);
                    $("#txtfechahasta").val(Json.fecharegreso);
                    $("#cbunidad").val(Json.nombreuniadmin.id);
                    $("#cbcentrocosto").val(Json.centrocosto.id);
                    $("#txtcomentarios").val(Json.comentarios);
                    $("#txtorigen").val(Json.origen);
                    $("#txtdestino").val(Json.destino);




                }
                $("#Frommodal").modal("show");

            }

                  $("#tabla tbody").on("click", ".btn-editar", function () {
                fila = $(this).closest("tr");
                var datos = (tabladatos.row(fila).data());
                abrirModal(datos);
                console.log(datos);
            })

            $("#tabla tbody").on("click", ".btn-agregar", function () {
                fila = $(this).closest("tr");
                var datos = (tabladatos.row(fila).data());


                abrirModales(datos);
                console.log(datos);
            })
            $("#tabla tbody").on("click", ".btn-consultar", function () {
                fila = $(this).closest("tr");

                var datos = (tabladatos.row(fila).data());
                console.log(datos.idsolicitud);


                jQuery.ajax({
                    url: '@Url.Action("Misvia", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: datos.idsolicitud }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                        location.href="Misviajes";



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });

            });













            $("#tabla tbody").on("click", ".btn-eliminar", function () {
                var centroseleccionado = $(this).closest("tr");
                var datos = (tabladatos.row(centroseleccionado).data());
                console.log(datos);

                swal({
                    title: "Se encuentra Seguro",
                    text: "¿Desea dar de baja el viaje",
                    type: "warning",
                    showCancelButton: true,
                    confirButtonClass: "btn-primary",
                    confirButtonText: "si",
                    cancelButtonText: "No",
                    closeOnConfirm: true


                },
                    function () {
                        jQuery.ajax({
                            url: '@Url.Action("bajaviajes", "Home")',
                            type: "POST",
                            data: JSON.stringify({ objeto: datos}),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                                if (data.resultado) {
                                    tabladatos.row(centroseleccionado).remove().draw();
                                    swal("la solicitud de viaje ha sido eliminado")
                                } else {
                                    swal("No se pudo eliminar!")
                                }


                            },
                            error: function (error) {
                                console.log(error)

                            }

                        });

                    });

            })

            function abrirModales(Json) {
                $("#txtemple").val(0);
                $("#cbusuario").val($("#cbusuario option:first").val());


                $("#txtmonto").val("");


                $("#mensajeError2").hide();


                if (Json != null) {
                    $("#txtemple").val(Json.idsolicitud);
                    $("#txtidusuario").val(Json.nombreusuario.id);




                    $("#cbusuario").val(Json.nombreusuario.nombre);





                }
                $("#Fromcontable").modal("show");

            }

            function guardar() {
                var solicitarviaje = {
                    idsolicitud: $("#txtid").val(),
                    nombreusuario: {
                        id: $("#cbempleado").val(),
                        nombre: $("#txtnom").val()


                    },
                    nombreviatico: $("#txtviajes").val(),
                    nombreproyecto: {
                        id: $("#cbproyecto option:selected").val(),
                        nombre: $("#cbproyecto option:selected").text()
                    },
                    fechasalida: $("#txtfechadesde").val(),
                    fechacaptura: $("#txtfechacaptura").val(),
                    fecharegreso: $("#txtfechahasta").val(),
                    nombreuniadmin: {

                        id: $("#cbunidad option:selected").val(),
                        nombre: $("#cbunidad option:selected").text()
                    },
                    centrocosto: {
                        id: $("#cbcentrocosto").val(),
                        nombre: $("#cbcentrocosto option:selected").text()
                    },
                    comentarios: $("#txtcomentarios").val(),
                    origen: $("#txtorigen").val(),
                    destino: $("#txtdestino").val(),
                    estatus: "nuevo",
                    importe: 0,




                }
                console.log(solicitarviaje);

                jQuery.ajax({
                    url: '@Url.Action("guardarviajes", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: solicitarviaje }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");

                        debugger;
                        //usuario nuevo jejeje
                        if (solicitarviaje.id == 0) {
                            if (data.resultado != 0) {
                                solicitarviaje.id = data.resultado;
                                tabladatos.row(fila).data(solicitarviaje);
                                $("#Frommodal").modal("hide");



                            } else {
                                $("#mensajeError").text(data.Mensaje);

                                $("#mensajeError").show();
                            }
                            //usuario editar jejeje
                        } else {
                            if (data.resultado) {
                                location.href = "SolictarViaje";


                            } else {
                                $("#mensajeError").text(data.Mensaje);

                                $("#mensajeError").show();

                            }


                        }

                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError").text("errror");
                        $("#mensajeError").show();
                    },
                    beforeSend: function () {

                        $(".modal-body").LoadingOverlay("show",
                            {
                                imageResiseFactor: 2,
                                text: "cargando",
                                size: 14
                            })



                    }


                });



            }

            function guardarcontable() {
                var contableusuario = {

                    monto: $("#txtmonto").val(),
                    clavecontable: {
                        id: $("#cbcontable option:selected").val(),
                        nombre: $("#cbcontable option:selected").text()

                    },

                    claveusuario: {
                        id: $("#txtidusuario").val()

                    },
                    clavesolicitud: {
                        idsolicitud: $("#txtemple").val(),

                    },





                }
                console.log(contableusuario);

                jQuery.ajax({
                    url: '@Url.Action("guardarcontableempleado", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: contableusuario }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");


                        //usuario nuevo jejeje

                        if (data.resultado != 0) {
                            contableusuario.id = data.resultado;

                            $("#Frommodal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.Mensaje);

                            $("#mensajeError").show();
                        }



                    },
                    error: function (error) {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#mensajeError2").text("errror");
                        $("#mensajeError2").show();
                    },
                    beforeSend: function () {

                        $(".modal-body").LoadingOverlay("show",
                            {
                                imageResiseFactor: 2,
                                text: "cargando",
                                size: 14
                            })



                    }


                });
                var da = {
                    idsolicitud :$("#txtemple").val()
                }

                jQuery.ajax({
                    url: '@Url.Action("Misvia", "Home")',
                    type: "POST",
                    data: JSON.stringify({ id: da.idsolicitud }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);

                        //location.href="Misviajes";



                    },
                    error: function (error) {
                        console.log(error)

                    }

                });


                 jQuery.ajax({
              url: '@Url.Action("listacontables", "Home")',

              type: "GET",

              data: null,

              dataType: "json",

              contentType: "application/json; charset=utf-8",

             success: function (data) {

                 $("<option>").attr({ "value": "0", "disabled": "false" }).text("Seleccionar").appendTo("#cbconcepto")
                 $.each(data.data, function (index, valor) {
                     var dato = {
                         idsolicitud: $("#txtemple").val(),
                         importe: valor
                     }
                     console.log(valor);


                      jQuery.ajax({
                    url: '@Url.Action("editandoimporte", "Home")',
                    type: "POST",
                    data: JSON.stringify({ objeto: dato }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        location.href = "SolictarViaje";


                    },
                    error: function (error) {

                        $("#mensajeError").text("errror");
                        $("#mensajeError").show();
                    },


                });

                 })

                //




                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });




            }


        }





    </script>



}














